<h1>Listing shipments</h1>

<table>
  <tr>
    <th>S#</th>
    <th>P#</th>
    <th>Qty</th>
    <th>Price</th>
  </tr>

<% for shipment in @shipments %>
  <tr>
    <td><%=h shipment.supplier_id %></td>
    <td><%=h shipment.part_id %></td>
    <td><%=h shipment.qty %></td>
    <td><%=h shipment.price %></td>
    <td><%= link_to 'Show', shipment %></td>
    <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
    <td><%= link_to 'Destroy', shipment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shipment', new_shipment_path %>
